.shape {
  background-color: red;
  width: 90px;
  height: 90px;
}



/* scale for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  
}

/* scale for laptops/PC and large screens */
@media (min-width: 1200px) {
  .shape {
    width: 90vw;
    height: 90px;
  }

}