 /* - - - - - - - GLOBAL STYLES - - - - - - - */

.rootLayout {
  padding: 2rem 10vw;
}

.links {
  text-decoration: none;
}

.header {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 0;
}

.p {
  font-size: 1rem;
  margin: 0.3rem 0;
  line-height: 1.7;
  text-align: justify;
  text-justify: inter-word;
}

.small {
  font-size: 0.8rem;
  line-height: normal;
}
.smallBold {
  font-size: 0.8rem;
  font-weight: bold;
}
.insetPoem {
  display: block;
  text-align: center;
  font-size: 0.75rem;
  font-style: italic;
  width: 60vw;
  margin: 2rem auto;
  line-height: 1.5rem;
}
.spanBlue {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(16, 226, 208);
  font-size: 1.5rem;
}

.pic {
  position: relative;
  width: 80vw;
  display: flex;
  flex-flow: column;
  align-items: stretch;

  margin: 3rem auto 0 auto;
}

.imgContained {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: -1;
}
.video {
  width: 80vw;
  height: 10rem;
  border: none;
}

.horiLine {
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 2rem 0;
}

/* scale for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  .video {
    height: 20rem;
  }
}

/* scale for laptops/PC and large screens */
@media (min-width: 1200px) {
  .video {
    height: 20rem;
  } 

}