 /* - - - - - - - GLOBAL STYLES - - - - - - - */

.rootLayout {
  width: 100vw;
  padding: 2rem 2rem;
  overflow: hidden;
}

.header {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0.3rem 0;

}

.horiLine {
  height: 1px;
  width: 100%;
  background-color: black;
}

/* scale for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  
}

/* scale for laptops/PC and large screens */
@media (min-width: 1200px) {
 

}