.root {
  width: 100vw;
  height: 0.5rem;
  left: 0;
  margin:0;
}

.header {
  font-size: 1.3rem;
  color: black;
  letter-spacing: 0.5rem;
  padding: 1rem 1rem;
}

.menuRoot {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  width: 80vw;
  left: 0;
  height: 85vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2rem 0 0 2rem;
  border: 1px solid black;
  margin: 0.5rem 0 0 0;
  /* animation */
  transition: left 1s;
}

.links {
  text-decoration: none;
  font-size: 1.3rem;
  display: inline;
  padding: 0.5rem 1rem 0.5rem 0.5rem ;
  width:max-content ;
}

.threeCanvas {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: -1;
  width: 5rem;
  height: 5rem;
}
.sideButton {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 1rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  padding: 0.5rem;
}

.links:hover {
  background-color: rgba(100,230,200,0.5);
}

/* scale for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  .header {
    text-align: center;
  }
  .threeCanvas {
    width: 9rem;
    height: 9rem;
  }
}

/* scale for laptops/PC and large screens */
@media (min-width: 1200px) {
  .header {
    text-align: center;
  } 
  .threeCanvas {
    width: 15rem;
    height: 15rem;
  }
}